.App {
  text-align: center;
  background-image: url(./bg-image.jpeg);
  height: 100%;
  width: 100%;
  background-size:cover;
  position: relative;

  display: grid;
  grid-template-rows: 60px auto;
}

.todo-lists-container {
  background: rgba(87, 87, 87, 0.6);
  backdrop-filter: blur(6px);
  
  overflow-x: auto;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  position: relative;
}